<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Webscraping

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Use webscraping to get bank information

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [ ]:
#!pip install pandas
!pip install bs4
#!pip install requests

## Imports

Import any additional libraries you may need here.

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

## Extract Data Using Web Scraping

The wikipedia webpage [https://en.wikipedia.org/wiki/List_of_largest_banks](https://en.wikipedia.org/wiki/List_of_largest_banks?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01) provides information about largest banks in the world by various parameters. Scrape the data from the table 'By market capitalization' and store it in a JSON file.

### Webpage Contents

Gather the contents of the webpage in text format using the `requests` library and assign it to the variable <code>html_data</code>

In [83]:
#Write your code here
response = requests.get('https://en.wikipedia.org/wiki/List_of_largest_banks')
print(response.status_code)

200

In [84]:
data = response.text
# data

<b>Question 1</b> Print out the output of the following line, and remember it as it will be a quiz question:

In [85]:
data[101:124]

'List of largest banks -'

In [31]:
import json
# json.loads(data)

In [17]:

import json
  
# JSON string:
# Multi-line string
x = """{
    "Name": "Jennifer Smith",
    "Contact Number": 7867567898,
    "Email": "jen123@gmail.com",
    "Hobbies":["Reading", "Sketching", "Horse Riding"]
    }"""
  
# parse x:
y = json.loads(x)
  
# the result is a Python dictionary:
print(y)

{'Name': 'Jennifer Smith', 'Contact Number': 7867567898, 'Email': 'jen123@gmail.com', 'Hobbies': ['Reading', 'Sketching', 'Horse Riding']}

### Scraping the Data

<b> Question 2</b> Using the contents and `beautiful soup` load the data from the `By market capitalization` table into a `pandas` dataframe. The dataframe should have the country `Name` and `Market Cap (US$ Billion)` as column names.  Display the first five rows using head.

Using BeautifulSoup parse the contents of the webpage.

In [ ]:
#Replace the dots below
soup="......"

In [ ]:
soup = BeautifulSoup(response.content, "html.parser")

Load the data from the `By market capitalization` table into a pandas dataframe. The dataframe should have the country `Name` and `Market Cap (US$ Billion)` as column names. Using the empty dataframe `data` and the given loop extract the necessary data from each row and append it to the empty dataframe.

In [28]:
# soup

In [79]:
data = pd.DataFrame(columns=["Name", "Market Cap (US$ Billion)"])

i = 0
index = 0 

for row in soup.find_all('tbody')[3].find_all('tr'):
    # cols = list(row.find_all('td'))
    cols = row.find_all('td')
    #Write your code here
    # print(type(cols))
    if i > 0 :
        # print(cols)
        # print(cols[1].text)
        # print(cols[2].text)
        data.at[index, "Name"] = cols[1].text.strip()
        data.at[index, "Market Cap (US$ Billion)"] = cols[2].text.strip()
        
        # for col in cols:
          #  print(col.text)
    
        
    index = index + 1
    i += 1
    
    
    
#     if i > 2 :
#         break

print(data)

                                       Name Market Cap (US$ Billion)
1                            JPMorgan Chase                  488.470
2                           Bank of America                  379.250
3   Industrial and Commercial Bank of China                  246.500
4                               Wells Fargo                  308.013
5                   China Construction Bank                  257.399
..                                      ...                      ...
66                             Ping An Bank                   37.993
67                       Standard Chartered                   37.319
68                     United Overseas Bank                   35.128
69                                QNB Group                   33.560
70                    Bank Rakyat Indonesia                   33.081

[70 rows x 2 columns]

**Question 3** Display the first five rows using the `head` function.

In [80]:
#Write your code here
data.head(5)

                                      Name Market Cap (US$ Billion)
1                           JPMorgan Chase                  488.470
2                          Bank of America                  379.250
3  Industrial and Commercial Bank of China                  246.500
4                              Wells Fargo                  308.013
5                  China Construction Bank                  257.399

### Loading the Data

Usually you will Load the `pandas` dataframe created above into a JSON named `bank_market_cap.json` using the `to_json()` function, but this time the data will be sent to another team who will split the data file into two files and inspect it. If you save the data it will interfere with the next part of the assignment.

In [81]:
#Write your code here
data.to_json()

'{"Name":{"1":"JPMorgan Chase","2":"Bank of America","3":"Industrial and Commercial Bank of China","4":"Wells Fargo","5":"China Construction Bank","6":"HSBC Holdings PLC","7":"Agricultural Bank of China","8":"Citigroup Inc.","9":"Bank of China","10":"HDFC Bank","11":"Goldman Sachs","12":"China Merchants Bank","13":"Royal Bank of Canada","14":"Banco Santander","15":"Commonwealth Bank","16":"Mitsubishi UFJ Financial Group","17":"Toronto-Dominion Bank","18":"Sberbank of Russia","19":"Morgan Stanley","20":"U.S. Bancorp","21":"BNP Paribas","22":"Ita\\u00fa Unibanco","23":"Westpac","24":"Scotiabank","25":"ING Group","26":"UBS","27":"Charles Schwab","28":"PNC Financial Services","29":"Lloyds Banking Group","30":"Sumitomo Mitsui Financial Group","31":"Bank of Communications","32":"Australia and New Zealand Banking Group","33":"Banco Bradesco","34":"National Australia Bank","35":"Intesa Sanpaolo","36":"Banco Bilbao Vizcaya Argentaria","37":"Japan Post Bank","38":"The Bank of New York Mellon","39":"Shanghai Pudong Development Bank","40":"Industrial Bank (China)","41":"Bank of China (Hong Kong)","42":"Bank of Montreal","43":"Cr\\u00e9dit Agricole","44":"DBS Bank","45":"Nordea","46":"Capital One","47":"NatWest Group","48":"Mizuho Financial Group","49":"Credit Suisse","50":"Postal Savings Bank of China","51":"China Minsheng Bank","52":"UniCredit","53":"China CITIC Bank","54":"Hang Seng Bank","55":"Soci\\u00e9t\\u00e9 G\\u00e9n\\u00e9rale","56":"Barclays","57":"Canadian Imperial Bank of Commerce","58":"Bank Central Asia","59":"Truist Financial","60":"Oversea-Chinese Banking Corp","61":"State Bank of India","62":"State Street Corporation","63":"Deutsche Bank","64":"KBC Bank","65":"Danske Bank","66":"Ping An Bank","67":"Standard Chartered","68":"United Overseas Bank","69":"QNB Group","70":"Bank Rakyat Indonesia"},"Market Cap (US$ Billion)":{"1":"488.470","2":"379.250","3":"246.500","4":"308.013","5":"257.399","6":"219.270","7":"203.244","8":"203.165","9":"181.469","10":"134.4","11":"131.680","12":"122.616","13":"122.564","14":"115.696","15":"112.227","16":"111.660","17":"108.449","18":"99.840","19":"99.651","20":"94.558","21":"93.329","22":"86.203","23":"84.560","24":"78.947","25":"78.920","26":"75.482","27":"74.255","28":"72.246","29":"71.253","30":"67.328","31":"67.078","32":"66.448","33":"64.816","34":"63.794","35":"62.032","36":"60.678","37":"60.525","38":"59.823","39":"58.796","40":"57.388","41":"55.449","42":"53.181","43":"52.141","44":"51.475","45":"51.185","46":"51.107","47":"50.490","48":"50.018","49":"48.462","50":"47.948","51":"47.921","52":"47.777","53":"47.451","54":"46.171","55":"46.051","56":"45.850","57":"43.544","58":"43.344","59":"41.923","60":"41.362","61":"55.7","62":"39.769","63":"38.649","64":"38.394","65":"38.223","66":"37.993","67":"37.319","68":"35.128","69":"33.560","70":"33.081"}}'

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation.