<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [ ]:
#!pip install pandas
#!pip install requests

## Imports

Import any additional libraries you may need here.

In [1]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01) and create a free account.
2.  Once the account is created. You will get the Get the Free API key option on the top as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/getapi.png"/>

3.  Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [2]:
# Write your code here
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=18c41ff53cc58562992f1ba1a970d844"  #Make sure to change ******* to your API key.

In [ ]:
http://api.exchangeratesapi.io/v1/latest?access_key=18c41ff53cc58562992f1ba1a970d844

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [3]:
# Turn the data into a dataframe
#Write your code here
response = requests.get(url)
print(response.status_code)

200

In [7]:
import json
json.loads(response.text)

{'success': True,
 'timestamp': 1639889344,
 'base': 'EUR',
 'date': '2021-12-19',
 'rates': {'AED': 4.12787,
  'AFN': 115.7104,
  'ALL': 120.749546,
  'AMD': 557.435576,
  'ANG': 2.039455,
  'AOA': 638.337406,
  'ARS': 115.278973,
  'AUD': 1.577277,
  'AWG': 2.023419,
  'AZN': 1.914938,
  'BAM': 1.955499,
  'BBD': 2.284913,
  'BDT': 97.138946,
  'BGN': 1.953866,
  'BHD': 0.426628,
  'BIF': 2255.817887,
  'BMD': 1.12381,
  'BND': 1.544738,
  'BOB': 7.802578,
  'BRL': 6.401591,
  'BSD': 1.131608,
  'BTC': 2.3405171e-05,
  'BTN': 85.055692,
  'BWP': 13.266453,
  'BYN': 2.865615,
  'BYR': 22026.668898,
  'BZD': 2.281014,
  'CAD': 1.449131,
  'CDF': 2250.991111,
  'CHF': 1.038702,
  'CLF': 0.034829,
  'CLP': 961.041009,
  'CNY': 7.164741,
  'COP': 4547.829642,
  'CRC': 722.17767,
  'CUC': 1.12381,
  'CUP': 29.780955,
  'CVE': 110.246325,
  'CZK': 25.220368,
  'DJF': 201.455875,
  'DKK': 7.437114,
  'DOP': 64.299108,
  'DZD': 156.234309,
  'EGP': 17.690003,
  'ERN': 16.857232,
  'ETB': 55.25814,
  'EUR': 1,
  'FJD': 2.401361,
  'FKP': 0.847778,
  'GBP': 0.848382,
  'GEL': 3.466998,
  'GGP': 0.847778,
  'GHS': 6.888833,
  'GIP': 0.847778,
  'GMD': 59.416254,
  'GNF': 10728.982615,
  'GTQ': 8.750318,
  'GYD': 236.649914,
  'HKD': 8.768581,
  'HNL': 27.433353,
  'HRK': 7.51728,
  'HTG': 113.667746,
  'HUF': 367.317616,
  'IDR': 16166.844495,
  'ILS': 3.51358,
  'IMP': 0.847778,
  'INR': 85.424708,
  'IQD': 1651.610233,
  'IRR': 47480.957587,
  'ISK': 146.387877,
  'JEP': 0.847778,
  'JMD': 174.276479,
  'JOD': 0.796336,
  'JPY': 127.794057,
  'KES': 127.874039,
  'KGS': 95.298388,
  'KHR': 4610.219074,
  'KMF': 491.526285,
  'KPW': 1011.428587,
  'KRW': 1334.962661,
  'KWD': 0.340571,
  'KYD': 0.94304,
  'KZT': 495.596051,
  'LAK': 12538.476105,
  'LBP': 1711.210138,
  'LKR': 228.588979,
  'LRD': 159.58136,
  'LSL': 17.846526,
  'LTL': 3.318318,
  'LVL': 0.679782,
  'LYD': 5.209518,
  'MAD': 10.480425,
  'MDL': 20.086398,
  'MGA': 4489.739482,
  'MKD': 61.619562,
  'MMK': 2014.298598,
  'MNT': 3212.280221,
  'MOP': 9.095259,
  'MRO': 401.199847,
  'MUR': 49.279478,
  'MVR': 17.310873,
  'MWK': 923.861507,
  'MXN': 23.420534,
  'MYR': 4.740795,
  'MZN': 71.733193,
  'NAD': 17.846521,
  'NGN': 460.942185,
  'NIO': 40.065213,
  'NOK': 10.160144,
  'NPR': 136.088948,
  'NZD': 1.667497,
  'OMR': 0.435726,
  'PAB': 1.131608,
  'PEN': 4.575325,
  'PGK': 4.007921,
  'PHP': 56.056046,
  'PKR': 201.656141,
  'PLN': 4.631399,
  'PYG': 7691.29717,
  'QAR': 4.091834,
  'RON': 4.949599,
  'RSD': 117.560086,
  'RUB': 83.357348,
  'RWF': 1173.271259,
  'SAR': 4.217793,
  'SBD': 9.096028,
  'SCR': 14.955767,
  'SDG': 491.67085,
  'SEK': 10.308261,
  'SGD': 1.537271,
  'SHP': 1.54794,
  'SLL': 12609.144515,
  'SOS': 656.305209,
  'SRD': 24.19454,
  'STD': 23260.590537,
  'SVC': 9.901323,
  'SYP': 2823.563604,
  'SZL': 17.953859,
  'THB': 37.445752,
  'TJS': 12.770437,
  'TMT': 3.933334,
  'TND': 3.209643,
  'TOP': 2.576165,
  'TRY': 18.451273,
  'TTD': 7.695296,
  'TWD': 31.289337,
  'TZS': 2609.53797,
  'UAH': 30.842276,
  'UGX': 4022.918557,
  'USD': 1.12381,
  'UYU': 50.216494,
  'UZS': 12245.715696,
  'VEF': 240304464683.14218,
  'VND': 25827.954997,
  'VUV': 127.274423,
  'WST': 2.922097,
  'XAF': 655.845906,
  'XAG': 0.050245,
  'XAU': 0.000625,
  'XCD': 3.037152,
  'XDR': 0.809563,
  'XOF': 655.845906,
  'XPF': 119.629945,
  'YER': 281.233771,
  'ZAR': 17.895601,
  'ZMK': 10115.639348,
  'ZMW': 18.603949,
  'ZWL': 361.866245}}

In [5]:
df = pd.read_json(response.text)

In [6]:
df

     success           timestamp base       date         rates
AED     True 2021-12-19 04:49:04  EUR 2021-12-19      4.127870
AFN     True 2021-12-19 04:49:04  EUR 2021-12-19    115.710400
ALL     True 2021-12-19 04:49:04  EUR 2021-12-19    120.749546
AMD     True 2021-12-19 04:49:04  EUR 2021-12-19    557.435576
ANG     True 2021-12-19 04:49:04  EUR 2021-12-19      2.039455
..       ...                 ...  ...        ...           ...
YER     True 2021-12-19 04:49:04  EUR 2021-12-19    281.233771
ZAR     True 2021-12-19 04:49:04  EUR 2021-12-19     17.895601
ZMK     True 2021-12-19 04:49:04  EUR 2021-12-19  10115.639348
ZMW     True 2021-12-19 04:49:04  EUR 2021-12-19     18.603949
ZWL     True 2021-12-19 04:49:04  EUR 2021-12-19    361.866245

[168 rows x 5 columns]

In [10]:
# Drop unnescessary columns
df = df.drop(['success', 'timestamp', 'base', 'date'], axis = 1)

In [11]:
df

            rates
AED      4.127870
AFN    115.710400
ALL    120.749546
AMD    557.435576
ANG      2.039455
..            ...
YER    281.233771
ZAR     17.895601
ZMK  10115.639348
ZMW     18.603949
ZWL    361.866245

[168 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [12]:
# Save the Dataframe
df.to_csv('exchange_rates_1.csv')

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).